<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POC</title>
</head>
<body>
    <h2>My endpoints for my API</h2><br>
    <p>To get all employees</p>method = get: http://localhost:3000/employees <!--for example http://localhost:3000/1 -->
    <p>To get a single employee</p>method = get: http://localhost:3000/:id  <!--for example http://localhost:3000/1 -->
    <p>To get leave requests</p>method = get: http://localhost:3000/LeaveRequests
    <p>To register employees</p>method = post: http://localhost:3000/post/employee<!--for example http://localhost:3000/1 -->
    <p>To delete employees</p>method = delete: http://localhost:3000/id <!--for example http://localhost:3000/1 -->
    <p>To delete leave applications</p> method=delete: http://localhost:3000/id <!--for example http://localhost:3000/1 -->
    <p>To apply for a leave</p>method = post: http://localhost:3000/:id/application <!--for example http://localhost:3000/1/application -->
</body>
</html>